body {
	background: #CCCCCA;
	font-family: "Roboto";
}

h3 {
	margin: 0;
	font-size: 17px;
	margin-bottom: 25px;
}

p {
	text-align: justify;
	font-size: 15px;
}

.slide {
	width: 570px;
	height: 270px;
	margin: 0 auto;
	margin-top: 70px;
	border: 40px solid #FFFFFD;

	position: relative;
	overflow: hidden;
}

.slide-item {
	width: 2850px;
	height: 270px;
	position: absolute;
	top: 0;
	left: 0;

	animation: anim 20s infinite alternate;
}

.slide-item:hover {
	animation-play-state: paused;
}

.slide-1 {
	position: absolute;
	left: 0;
	width: 570px;
	height: inherit;
	background: url("../img/slide-1.jpg") center center/cover no-repeat;
}

.slide-2 {
	position: absolute;
	left: 570px;
	width: 570px;
	height: inherit;
	background: url("../img/slide-2.jpg") center center/cover no-repeat;
}

.slide-3 {
	position: absolute;
	left: 1140px;
	width: 570px;
	height: inherit;
	background: url("../img/slide-3.jpg") center center/cover no-repeat;
}

.slide-4 {
	position: absolute;
	left: 1710px;
	width: 570px;
	height: inherit;
	background: url("../img/slide-4.jpg") center center/cover no-repeat;
}

.slide-5 {
	position: absolute;
	left: 2280px;
	width: 570px;
	height: inherit;
	background: url("../img/slide-5.jpg") center center/cover no-repeat;
}

@keyframes anim {
	0% {
		left: 0;
	}
	12% {
		left: 0;
	}
	24% {
		left: -570px;
	}
	36% {
		left: -570px;
	}
	48% {
		left: -1140px;
	}
	60% {
		left: -1140px;
	}
	72% {
		left: -1710px;
	}
	84% {
		left: -1710px;
	}
	96% {
		left: -2280px;
	}
	100% {
		left: -2280px;
	}
}

.slide-text {
	box-sizing: border-box;
	padding: 20px 10px;
	width: 265px;
	height: 170px;
	box-shadow: 3px 3px 10px 2px #212121;
}

.slide-text.block-right-style {
	position: absolute;
	top: 50px;
	right: 30px;
	color: #fff;
}

.slide-text.block-left-style {
	position: absolute;
	top: 50px;
	left: 30px;
	color: #000;
}


