.wrapper {
	margin: 0 auto;
	padding-top: 10px;
	width: 900px;
	height: 100%;
	background: url("../img/bg/horoscope_bkgr.jpg") center center/auto repeat;
	color: #fff;
	.header {
		.title {
			text-transform: uppercase;
			text-align: center;
		}
		.line {
			width: 100%;
			height: 2px;
			background: #fff;
		}
	}
	.page {
		padding: 20px;
		.zodiac {
			margin-bottom: 100px;
			h2.zodiac__name {
				position: relative;
				margin-bottom: 100px;
				text-transform: uppercase;
				text-align: center;
				&::before {
					content: '';
					position: absolute;
					top: -50px;
					left: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					display: block;
					width: 300px;
					height: 1px;
					background: #fff;
				}
				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: -50px;
					margin: auto;
					display: block;
					width: 300px;
					height: 1px;
					background: #fff;
				}
			}
			h2.zodiac__name.up-line-none {
				&::before {
					content: "";
					background: #000;
				}
			}
			.zodiac-flex {
				display: flex;
				justify-content: space-between;
				align-items: center;
				.zodiac-img-wrapp {
					margin-right: 20px;
					max-width: 250px;
					height: 100%;
					border: 3px solid #fff;
					.zodiac-img {
						width: 100%;
					}
				}
				.zodiac-descr {
					margin-right: 20px;
					.descr-text {
						font-size: 16px;
						text-align: center;
					}
					.descr-name span{
						text-decoration: underline;
					}
				}
			}
		}
	}
	
	
	
	
	
	
	
}




