@font-face {
  font-family: "font";
  src: url(../fonts/font.otf);
}
@font-face {
  font-family: "Library";
  src: url(../fonts/Library.otf);
}
@font-face {
  font-family: "Library_soft";
  src: url(../fonts/Library_soft.otf);
}
@font-face {
  font-family: "Perfograma";
  src: url(../fonts/Perfograma.otf);
}